body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  /*TODO :change the font!;*/
  font-size: 5.7rem;
  font-family: "Sacramento";
  margin: 50px auto 0 auto;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.6rem;
  font-family: "Montserrat";
  color: #11999e;
  margin: 15px 0;
}

h4 {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: #66bfbf;
  margin: 0 0;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: eaf6f6;
}

p {
  line-height: 2.1;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
  text-align: left;
}

section {
  max-width: 400px;
  margin-left: 200px;
  margin-right: auto;
  display: flex;
  align-items: center;
}

td {
  font-family: "Montserrat";
}
/***********************************CLASS SELECTORS***********************************/
.top-cloud {
  position: absolute;
  right: 15%;
  top: 10%;
}

.bottom-cloud {
  position: absolute;
  left: 22%;
  bottom: 36%;
}

.intro {
  width: 50%;
  margin: 80px auto 100px auto;
  text-align: left;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-img {
  position: relative;
}

.role {
  width: 75%;
  margin: 10px 0;
}

.profile {
  width: 80%;
  margin: 50px auto 100px auto;
}

.left-float-img {
  float: left;
  margin-right: 4%;
}

.right-float-img {
  float: right;
  position: relative;
}

.circle-img {
  width: 18%;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
  margin-top: 1%;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}

.logo {
  width: 20px;
  height: auto;
  position: relative;
  top: 2px;
  left: 2px;
}

.bold {
  font-weight: bold;
}

.spacer {
  display: block;
  padding-top: 11px;
}

.intro-img {
  margin-top: 4%;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.years {
  font-size: 0.75rem;
  font-style: italic;
  margin: 0 0;
}

.jod-descrip {
  margin: 10px 0;
}

.courses-header {
  font-size: 1.1rem;
  padding-bottom: 4%;
}

.qualities {
  position: relative;
  list-style-position: inside;
}

ul {
  list-style-type: none; /* remove the default bullet */
}

li:before {
  content: "✨"; /* symbol:  https://symbl.cc/en/https://symbl.cc/en/*/
  font-size: 1.5em; /* adjust the size of the icon */
  margin-right: 0.5em; /* add some spacing between the icon and the text */
  vertical-align: middle; /* align the icon vertically with the text */
}

.qualities-list {
  text-align: left; /* align all list items to the left */
  display: inline-block; /* center the list on the page */
}

li:nth-child(1):before {
  content: "📚"; /* star icon for third list item */
}
li:nth-child(2):before {
  content: "🔍"; /* star icon for third list item */
}
li:nth-child(3):before {
  content: "✌"; /* star icon for third list item */
}

li:nth-child(4):before {
  content: "✍"; /* star icon for third list item */
}

li:nth-child(5):before {
  content: "📤"; /* star icon for third list item */
}

li:nth-child(6):before {
  content: "🔤"; /* star icon for third list item */
}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

/* Boilerplate stuff */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/***********************************ID SELECTORS***********************************/

#top-container {
  padding-top: 100px;
  background-color: #e4f9f5;
  position: relative;
}

#middle-container {
  padding-top: 50px;
  position: relative;
}

#bottom-container {
  background-color: #66bfbf;
  padding: 40px 0 20px;
}

#hello-h {
  text-align: center;
  padding: 30px 0 0 0;
}

#contact-btn-div {
  margin: 5px 0 30px 0;
}

#github-div {
  display: inline-block;
}

#linkedin-div {
  display: inline-block;
  margin: 0;
}

#github-logo {
  margin-right: 5px;
}

#manor-logo {
  width: 12rem;
  height: auto;
  padding-top: 3%;
}

#concept-table {
  margin-left: 40%;
}

#friends-img {
  left: 0.5%;
}

#coding-img {
  right: 4%;
}
